body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(236, 236, 236);
}
h1{
    background-color: lightblue;
    padding: 15px;
    font-size: 48px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid black;
    border-radius: 10px;
}
h2{
    font-size: 28px;
}
p{
    font-size: 24px;
}
ul, ol{
    font-size: 22px;
}
.nav{
    font-size: 20px;
    list-style-type: none;
    background-color: lightgrey;
    padding: 10px;
}
.nav li{
    padding: 10px;
}